services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8001:8000"
#    environment:
#      - PORT=8000
    volumes:
      - ./app:/app
    command: >
      sh -c "/scripts/migrate.sh &&
      /scripts/fixtures.sh &&
      /scripts/collectstatic.sh &&
      /scripts/entrypoint.sh"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres
    volumes:
      - ./scripts/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - dev-db-data:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  dev-db-data: